<header></header>

<main>
  <mat-card
    appearance="raised"    
    class="search-card-wrapper"
  >
    <mat-card-content>
      <form [formGroup]="dataForm">
        <div class="autocomplete-wrapper">
          <mat-form-field>
            <mat-label>Aktivitäten Suche</mat-label>
            <input
              type="text"
              matInput
              formControlName="activityGroup"
              required
              [matAutocomplete]="autoGroup"
            />
            <mat-autocomplete
              #autoGroup="matAutocomplete"
              [displayWith]="displayActivityName"
            >
              @for (group of activityGroupOptions | async; track
              group.categoryName) {
              <mat-optgroup [label]="group.categoryName">
                @for (type of group.types; track type.name) {
                <mat-option
                  [value]="{ name: type.name, category: group.categoryValue }"
                >
                  {{ type.name }}
                </mat-option>
                }
              </mat-optgroup>
              }
            </mat-autocomplete>            
          </mat-form-field>
          <br>
          <span class="no-result" *ngIf="noResult">Leider keine Treffer !</span>
          <div class="search-button-container">
            <button mat-fab (click)="logData()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>

        <div class="range-wrapper">
          <mat-label>Umkreis: </mat-label>
          <mat-slider
            min="0"
            max="100"
            step="1"
            showTickMarks
            discrete
            [displayWith]="formatLabel"
          >
            <input matSliderThumb formControlName="rangeValue" />
          </mat-slider>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="expand-wrapper">
    <div class="result-card-wrapper" *ngIf="result">           
      <mat-card        
        class="data-result-wrapper"
        *ngIf="locationData"
      >
        <mat-card
          class="panel-result-wrapper"
          *ngFor="let node of locationData"
          (opened)="pushNominatim(node)"
        >
          <div>
            {{
              node.tags.name
                ? node.tags.name.toUpperCase()
                : this.category.toUpperCase()
            }}
          </div>
          <div>{{ "Entfernung: " + node.distance + " km " }}</div>
          <div >
            <div>
              <div>{{ node.road }}{{ " " }}{{ node.house_number }}</div>
              <div>{{ node.postcode }}</div>
              <div>{{ node.town }}</div>
              <div>{{ node.suburb }}</div>
            </div>
            <div>
              <div>{{ node.tags.opening_hours }}</div>
            </div>
            <div>
              <a
                *ngIf="node.tags.phone"
                href="{{ 'tel:+49' + node.tags.phone }}"
                >Call +49 {{ node.tags.phone }}</a
              >
              <a href="{{ node.tags.website }}">{{ node.tags.website }}</a>
            </div>
            <div class="button-wrapper">
              <button
                mat-raised-button
                (click)="sendZoomCoords(node.lat, node.lon)"
              >
                Zur Karte
              </button>
              <button (click)="setRoute(node.id)" mat-raised-button>
                Route anzeigen
              </button>
            </div>
          </div>
        </mat-card>        
      </mat-card>      
    </div>
    <div class="expand" *ngIf="this.locationData.length">
          <button mat-fab (click)="switchResultPanel()">
            <mat-icon>expand</mat-icon>
          </button>
    </div>
  </div>
  <app-map
    [latitude]="this.userLatitude"
    [longitude]="this.userLongitude"
    [markers]="this.mapMarkers"
    [zoomlat]="this.zoomlat"
    [zoomlong]="this.zoomlong"
    [destid]="this.selectedRoute"
    (markerClick)="handleMarkerClick($event)"
  ></app-map>
</main>
