@use "../../styles.scss" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 50px;
}

mat-card {
  padding: 20px;
}

mat-slider {
  width: 60%;
}

.center {
  @include flexParams();
  >img {
    margin-right: 16px;
  }
}

.wide {
  width: 100%;
}

.node-card {
  @include flexParams($align: center,$justify: space-between,$direction: row);
  
}

form {
  @include flexParams($direction:column);
  gap: 16px;
}

h1 {
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
}

.range-wrapper {
  @include flexParams();
  gap: 16px;
  width: 100%;
  >mat-label {
    font-size: 16px;
  }
}

.data-result-wrapper {
  @include flexParams($direction:column);
  width: 90%;
  gap: 8px;
}

.data-result-card {
  width: 100%;
}

.position-small {
  height: 40px;
}