@use "../../styles.scss" as *;

main { 
  position: relative;
  height: 100%;
}

mat-card-content {
  padding: 0;
  padding-bottom: 0 !important;
}

mat-slider {
  width: 60%;
}

app-map {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

mat-icon {
  filter: invert(100%);
}

mat-mdc-card {
  border-radius: 20% !important;
}

mat-icon {
  transform: scale(120%);
}

.autocomplete-wrapper {
  position: relative;
  width: 280px;
}

.search-button-container {
  position: absolute;
  right: 0;
  top: 0;  
  transform: scale(90%);
}

.center {
  @include flexParams();
  >img {
    margin-right: 16px;
  }
}

.node-card {
  @include flexParams($align: center,$justify: space-between,$direction: row);
  
}

form {
  @include flexParams($direction:column);  
}

h1 {
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
}

.range-wrapper {
  @include flexParams();  
  width: 100%;
  >mat-label {
    font-size: 16px;
  }
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: #673ab7;
}

.panel-info-wrapper {
  width: 100%;
  @include flexParams($align: flex-start,$justify:center, $direction: column);  
  gap: 16px;
  >div {
    @include flexParams();
    gap: 16px;

  }
}

.data-result-wrapper {
  @include flexParams($direction:column, $justify: flex-start);
  gap: 8px;  
  overflow-y: auto; 
  overflow-x: hidden;
  max-height: 500px;  
  width: 100%;  
}

.search-card-wrapper {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 100px;
  width: 350px;
}

.result-card-wrapper {    
  width: 350px; 
}

.result-relative-wrapper {
  position: relative;  
  @include flexParams($align:flex-start);     
  width: 100%;  
}

mat-expansion-panel {
  min-height: 48px;
}

.data-result-card {
  max-width: 500px;  
}

.position-small {
  height: 40px;
}

.expand {
  position: relative;
  z-index: 10;
  top: 10px;
  margin-left: 257px;
}

.button-wrapper {
  @include flexParams();
  gap: 16px;
}

.panel-result-wrapper {
  width: 100%;
  @include flexParams($direction: column);
  gap: 8px;
  padding-top: 8px;
}

.no-result {
  font-size: 16px;
  color: #673ab7;
}

.expand-close {
  top: 250px !important;
}

.expand-wrapper {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 237px;    
  width: 350px;
}

.location-title {
  font-weight: 600;
}

@media only screen and (max-width: 400px) {
  .search-card-wrapper {
    width: 296px;
  }
  .result-card-wrapper, .expand-wrapper {
    width: 296px;
  }
  .expand {    
    margin-left: 233px;
  }
}

@media only screen and (max-width: 400px) {
  .data-result-wrapper {
    max-height: 350px;
  }
}