@use "../../styles.scss" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

mat-card {
max-width: 600px;
padding: 20px;
}

form {
  @include flexParams($direction:column);
  gap: 16px;
}

h1 {
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
}

mat-slider {
  width: 60%;
}

.range-wrapper {
  @include flexParams();
  gap: 16px;
  width: 100%;
  >mat-label {
    font-size: 16px;
  }
}