// In your map.component.scss
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';

// Customize routing appearance
:host::ng-deep .leaflet-routing-container {  
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  left: 54px !important;
}

:host::ng-deep .leaflet-right{
  left: 0 !important;
  right: unset !important;
}

:host::ng-deep .leaflet-bottom {
  right: 0 !important;
}

:host::ng-deep .leaflet-routing-alt {    
    max-height: 80px;
    overflow: hidden; 
    background: white;    
    max-width: 256px;
} 

:host::ng-deep .leaflet-routing-alt-minimized {
  display: none !important;
  max-height: 80px;
  overflow: hidden;
  padding: 0;  
} 





