html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin flexParams($align: center,$justify: center,$direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
  }

$prime-color : #673AB7; 

.prime-color {
  color: $prime-color;
}

.flex {
  @include flexParams();
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $prime-color;
  border-radius: 10px;
}

